<div class="groups_wrapper">
    <div class="groups_list">
        <ul>
            {{#each model as |group|}}
            {{#link-to 'group' group.id}}
            <li>{{group.name}}</li>
            {{/link-to}}
            {{/each}}
        </ul>
    </div>
    <div class="groups_page_list">
        <button {{action "setPage" 1}}>1</button>
        <button {{action "setPage" 2}}>2</button>
        <button {{action "setPage" 3}}>3</button>
        <button {{action "setPage" 4}}>4</button>
    </div>
</div>