<div class="users_wrapper">
    <div class="users_list">
        {{user-elem firstName="Ilya" lastName="Gorkun"}}
        {{user-elem firstName="Ilya" lastName="Gorkun"}}
        {{user-elem firstName="Ilya" lastName="Gorkun"}}
        {{user-elem firstName="Ilya" lastName="Gorkun"}}
        {{user-elem firstName="Ilya" lastName="Gorkun"}}
    </div>
</div>
{{outlet}}