<div class="users_wrapper">
    <div class="group_create_bar">
        {{input value=newNameGroup placeholder="Name Group"}}
        <button {{action "createGroup"}}>Create group</button>
    </div>
    <div class="users_list">
        <ul>
            {{#each users as |user|}}
            {{user-elem firstName=user.firstName lastName=user.lastName id=user.id action="addUser" }}
            {{/each}}
        </ul>
    </div>
    <div class="users_page_list">
        <button {{action "setPage" 1}}>1</button>
        <button {{action "setPage" 2}}>2</button>
        <button {{action "setPage" 3}}>3</button>
        <button {{action "setPage" 4}}>4</button>
    </div>
    <div class="cat_fact">
        {{catFact}}
    </div>
</div>
{{outlet}}